.about_me {
    background: repeating-radial-gradient(closest-side at 15px 25px, #0f132e 15%, #100f2e 40%);
    background-size:60px 60px;
}

.my_pic {
    height: 720px;
    width: 520px;
}

.my_intro {
    font-family: "Poppins", sans-serif;
    color: #ffb633;
    font-weight: 500;
    font-size: 1.75rem;
}

.about_title {
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
}

.icon{
    color: #ffb633;
}

.about_p {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

.details {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;

}

.my_details {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
}

.my_interest-t {
    color: #F9F7F7;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
}

.my_interest-s {
    display: flex;
    justify-content: space-evenly;
    color: #F9F7F7;
}

@media (max-width: 1399px) {

    .my_pic {
    height: 720px;
    width: 450px;
    }
   
}

@media (max-width: 1180px) {

    .my_pic {
    height: 720px;
    width: 400px;
    }

    .pic_m {
        padding-top: 35px;
    }

    #aboutMe {
        padding-top: 5px;
    }

   #about_ME {
        padding-top: 0!important;
    }

    .details {
        font-size: 1.25rem;
    }

    .my_details{
        padding-top: 30px;
    }


}

@media (max-width: 820px) {

    .my_pic {
    height: 620px;
    width: 450px;
    }
    #aboutMe {
        padding-top: 10px;
    }

    #about_ME {
        padding-top: 0!important;
    }

    .my_intro {
        text-align: center;
    }

    .about_title {
        text-align: center;
    }

    .details {
        padding-left: 30px;
        font-size: 1rem;
    }

    .my_details{
        text-align: left;
        padding-top: 20px;
    }
   
}

@media (max-width: 500px) {

    .my_pic {
    height: 420px;
    width: 320px;
    }
    #aboutMe {
        padding-top: 10px;
    }

    #about_ME {
        padding-top: 0!important;
    }

    .my_intro {
        text-align: center;
        font-size: 1rem;
    }

    .about_title {
        text-align: center;
        font-size: 2rem;
    }

    .details {
        padding-left: 30px;
        font-size: .9rem;
    }

    .my_details{
        font-size: .75rem;
        padding-top: 0px;
    }

    .about_p {
        font-size: .75rem;
    }

    .my_interest-t {
        font-size: 1.25rem;
    }

    .myI {
        font-size: .75rem;
    }
   
}