.contact_sec {
    background: repeating-radial-gradient(closest-side at 25px 35px, #100f2e 15%, #0f132e 40%);
    background-size:60px 60px;
}


.c_title {
    font-family: "Poppins", sans-serif;
    color: #ffb633;
    font-weight: 500;
}

.c_stitle {
    color: #F9F7F7;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.form-control {
    font-family: 'Maven Pro', sans-serif !important;
    font-weight: 500 !important;
    color: #f9f7f7 !important;
    border: 1px solid #f9f7f7 !important;
    background-color: #100f2e !important;
}

.c_icon {
    margin-left: 10px;
    padding: 10px;
    background-color: #ffb633;
    border-radius: 50%;
    color: #F9F7F7;
}

.c_details {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
}

.c_details2 {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.c_section {
    padding: 3rem 0 5rem;
    margin: auto;
    min-height: 50vh;
}

@media (max-width: 820px) {

    .c_section {
    min-height: 65vh;
    }
   
}

@media (max-width: 500px) {

    .c_stitle {
        font-size: 2rem;
    }

    .c_details {
        font-size: 1.4rem;
        padding-left: 15px!important;
    }

    .c_details2 {
        font-size: .85rem;
        padding-left: 15px!important;
    }

    #contact_section {
        padding: 5px!important;
    }

   
}
