.homeSection {
    margin: auto;
    min-height: 90vh;
}

.home {
    background-color: #0a0919;

}

.social_link {
    color: #F9F7F7;
}

.scl_icon {
    height:35px;
    width:35px;
}

#links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social_link:hover {
    color: #ffb633!important;
}

.title-sec {
   display: flex;
}

.home1 {
    color: #ffb633;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 3rem;
}

.home2 {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
}

#home3 {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.25rem;
    opacity: .5;
}



@keyframes scrollDown {
    0% {
        margin-top: 15px;
        opacity: 0;
    }

    15% {
        margin-top: 15px;
        opacity: 1;
    }

    30% {
        margin-top: 15px;
        opacity: 1;
    }

    50% {
        margin-top: 30px;
        opacity: 1;
    }

    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

.mouse-scroll {
    animation: scrollDown 3s infinite;
}

.mouse-scroll-icon {
    color: #F9F7F7;
    transform: .5s;
}

.mouse-scroll-icon:hover {
    color: #ffb633;
}



@media (max-width: 1180px) {


    #homee {
        padding-bottom: 10px!important;
        padding-top: 10px!important;
    }

    .home1 {
        font-size: 1.5rem !important;
        padding-top: 30px!important;
    }

    .home2 {
        font-size: 3.5rem !important;

    }

    #home3 {
        font-size: 3rem !important;
    }

    #h_sec {
        padding-top: 0px!important;
    }

    #main_t {
        padding-left: 0!important;
        padding-right: 0!important;
    }

    #links {
        padding-left: 10px!important;
    }

    #m_scroll {
        padding-top: 50px !important;
    }

    .scl_icon {
        height:25px;
        width:25px;

    }

    .homeSection {
    min-height: 70vh;
}



   
}

@media (max-width: 820px) {

    .home1 {
    font-size: 1.5rem;
    padding-top: 30px!important;
    }

    .home2 {
    font-size: 3.15rem !important;
  
    }

    #home3 {
    font-size: 1.75rem!important;
    }

    #h_sec {
       padding-top:70px!important;
    }

    #links {
        padding-left: 0!important;
    }

    .homeSection {
    min-height: 62vh;
    }

     #m_scroll {
        padding-top: 40px !important;
    }

    .scl_icon {
        height:20px;
        width:20px;

    }


   
}

@media (max-width: 500px) {

    .scl_icon {
        height:15px;
        width:15px;

    }

    .social_link {
         padding-left: 0!important;
         padding-bottom: 20px!important;

    }

    .home1 {
    font-size: .75rem!important;
    display: flex;
    justify-content:center!important;
    align-items:flex-end;
    padding-top: 80px!important;
    padding-bottom: 0!important;
    margin-top: 0px!important;
    margin-bottom: 0!important;

    }

    .home2 {
    font-size: 1.25rem!important;
    display: flex;
    justify-content:center!important;
    align-items:center;
    margin-top: 0px!important;
    margin-bottom: 0!important;
  
    }

    #home3 {
    font-size: 1rem!important;
    padding-bottom: 0px!important;
     padding-top: 0!important;
     margin-top: 0px!important;
    margin-bottom: 0!important;

    }

    #h_sec {
       padding-top: 0!important;
    }

    .homeSection {
    min-height: 84vh!important;
    }

    #m_scroll {
        padding-top: 0px !important;
    }
   
}


