.proj_sec {
    background-color: #131433;
}

.proj_pic {
	height: 350px;
	width:  450px;
}

.proj_pic2 {
	height: 350px;
	width:  470px;
}

.p_title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600!important;
    font-size: 2.5rem!important;
    color: #F9F7F7;
}

.p_desc {
	font-family: 'Maven Pro', sans-serif;
	color: #F9F7F7;
	text-align: justify;
  	text-justify: inter-word;
}

@media (max-width: 500px) {

	.proj_pic {
		height: 250px;
		width:  350px;
	}

	.proj_pic2 {
		height: 250px;
		width:  370px;
	}

	.p_title {
	    font-size: 1.5rem!important;
	}

	.p_desc {
		font-size: .75rem!important;
	}

}
