.qualification_sec {
    background: repeating-radial-gradient(closest-side at 15px 25px, #100f2e 15%, #0f132e 40%);
}

.q_sectitle {
    font-family: "Poppins", sans-serif;
    color: #ffb633;
    font-weight: 500;
}

.q_subsectitle {
    color: #F9F7F7;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.q_line {
    display: block;
    width: 1px;
    height: 30%;
    margin-right: 0;
    margin-left: 60px;
    border:1px solid #ffb633;
}

.q_line2 {
    display: block;
    width: 1px;
    height: 60%;
    margin-right: 0;
    margin-left: 60px;
    border:1px solid #ffb633;
}

.q_line3 {
    display: block;
    width: 1px;
    height: 60%;
    margin-right: 0;
    margin-left: 60px;
    border:1px solid #ffb633;
}

.quali_title {
    color: #F9F7F7;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.q_icon {
    color: #ffb633;
    margin-right: 0;
    margin-left: 50px;
}

.educ {
    background: repeating-radial-gradient(closest-side at 15px 25px, #100f2e 15%, #0f132e 40%);
    color: #113F67;
    border-style: none !important;
}

.q_title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600!important;
    font-size: 1.5rem!important;
    color: #F9F7F7;
}

.q_name {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    opacity: .8;
    color: #F9F7F7;
}

.q_year {
    color: #ffb633;
    font-family: "Poppins", sans-serif;
    font-size: .75rem;
    font-weight: 500;
}

@media (max-width: 767px) {

    .e_sec {
    padding-top: 3.5rem !important;
}
   
}

@media (max-width: 1024px) {

    .card {
        background-color: #100f2e!important;
    }

}

@media (max-width: 500px) {

    .q_sectitle {
        font-size: 1rem;
    }

    .q_subsectitle {
        font-size: 2rem;
    }

    .quali_title {
        font-size: 1.5rem;
    }

    .q_title {
        font-size: 1rem!important;
    }

    .q_name {
         font-size: .75rem!important;
    }

    .q_icon {
        padding-left: 0!important;
        margin-left: 0!important;
    }

    .q_line {
        margin-left: 10px;
    }

    .q_line2 {
        margin-left: 10px;
    }

    .q_line3 {
        margin-left: 10px;
    }

    #qualification {
        padding-top: 5px!important;
    }


}