@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.skills_sec {
    background-color: #131433;
}

.s_title {
    font-family: "Poppins", sans-serif;
    color: #ffb633;
    font-weight: 500;
}

.s_title2 {
    color: #F9F7F7;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.c_title {
    color: #F9F7F7;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
    opacity: .7;
}

.caption {
    color: #F9F7F7!important;
}

@media (max-width: 390px) {

    #skillset {
        padding-top: 0px!important;
    }

    .s_title {
        font-size: 1rem;
    }

    .s_title2 {
        font-size: 2rem;
    }

    .c_title {
        font-size: 1.25rem;
    }


}