.navbar .navbar-nav .nav-link {
  color: #ffb633;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #ffb633;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffb633;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbarSection {
    background-color: #100f2e;
    box-shadow: 1px 1px 8px #0a0919;
    
}

.navbarSection-bg {
    background-color: #0a0919;
     box-shadow: 1px 1px 8px  #100f2e;
}

.navbarBrand {
    color: #ffb633 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    font-size: 2rem !important;
}

.navbarLink {
    color: #ffffff !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.15rem !important
}

.nav-menu {
    display: flex;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 940px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 105px;
        flex-direction: column;
        justify-content: left;
        width:50%;
        height: 100%;
        text-align: left;
        transition: 0.4s;
        background-color: #100f2e;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin-top: 0rem;
        margin-left: .5rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        
    }

    #nav_mn {
        margin-top: 60px!important;;
    }

    .hamburger {
        display: flex;
    }
}
