.f_sec {
	color: #F9F7F7;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.footer_link {
	 color: #F9F7F7;
	 padding: 2px;
	 background-color: #ffb633;
     border-radius: 20%;
}

.footer_link:hover {
    color: #100f2e!important;
}


.footer_sec {
    background-color: #131433;
}

@media (max-width: 1180px) {

    .footer_sec {
        min-height: 30vh;
    }
}

@media (max-width: 820px) {

    .footer_sec {
    	min-height: 38vh;
    }
}

@media (max-width: 500px) {

    .footer_sec {
        min-height: 22vh;
    }

    .f_sec {
        font-size: .92rem;
    }


}
