@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #131433 !important;
    
}

.section {
    padding: 3rem 0 5rem;
    margin: auto;
    min-height: 89vh;
}

.button1 {
    text-decoration: none;
    background-color: #ffb633;
    border-radius: 40px;
    border-color:  #FFC300;
    border: 0;
    font-size: 1.15rem;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: 600;
    border-color:  #FFC300;
    border-style: solid;
    border-width: 3px;
   
}

.button1:hover {
    color: #ffb633;
    border-style: solid;
    border-width: 3px;
    background-color: transparent;
    text-decoration: line-through;
}


.button2 {
    text-decoration: none;
    border-radius: 40px;
    border-color:  #ffb633;
    border-style: solid;
    border-width: 3px;
    font-size: 1.15rem !important;
    font-family: "Poppins", sans-serif;
    color: #ffb633 !important;
    font-weight: 600
}

.button2:hover {
    color: #ffffff !important;
    background-color: #ffb633;
    border-style: solid;
    border-width: 3px;
    text-decoration: line-through;
}

@media (max-width: 820px) {
    .button1 {
    font-size: 1rem;
    border-width: 1px;
    }

    .button2 {
    border-width: 1px;
    font-size: 1rem !important;
   
    }
}

@media (max-width: 500px) {

    .button1 {
    font-size: 1rem;
    border-width: 1px;
    }

    .button2 {
    border-width: 1px;
    font-size: 1rem !important;
   
    }

}

@media (max-width: 500px) {

    .button1 {
    font-size: .6rem;
    }

    .button2 {
    font-size: .6rem !important;
   
    }

}